{% extends 'admin_area/base-admin.html.twig' %}

{% block content_area %}
<table class="datatable display w-100 table table-striped table-bordered table-hover" id="datatable-usuarios">
    <thead>
        <tr>
            <th>Ativo</th>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Admin</th>
            <th title="Opções e Ações" class="cursor-help"><i class="bi bi-gear-fill"></i></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}