.navbar-header-admin .navbar-nome-email {
    color: rgba(0,0,0,0.5);
    vertical-align: middle;
}
.cursor-help {
    cursor: help;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}
.text-justify {
    text-align: justify;
}
.dataTables_wrapper .btn-sm {
    --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
}
.dataTables_wrapper {
    margin: 1em .5em;
}
.dataTables_wrapper tr.album-criado td {
    background-color: #d4ffd6 !important
}

.dataTables_wrapper tr.album-inativo td,
.dataTables_wrapper tr.usuario-inativo td {
    background-color: #f8ffd4 !important
}

.dataTables_wrapper tr.album-excluido td {
    background-color: #ffd4d4 !important
}

.app-form-check-inline .form-check {
    margin-left: 1.5em;
}

.app-form-check-inline .form-check:first-child {
    margin-left: 0;
}

.form-label.required:after,
.col-form-label.required:after {
    content: '*';
    color: red;
    display: inline-block;
    margin-left: 0.3em
}

@media (max-width: 991px) {
    .navbar-header-admin .navbar-brand {
        margin: 0 auto 1em;
    }
    .navbar-header-admin .navbar-collapse .nav-pills {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    .navbar-header-admin .navbar-collapse .nav-pills .nav-item {
        margin: 0 1rem !important;
    }
    .navbar-header-admin .navbar-collapse .navbar-text {
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

}