.navbar-header-admin .navbar-nome-email {
    color: rgba(0,0,0,0.5);
    vertical-align: middle;
}
.cursor-help {
    cursor: help;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}
.text-justify {
    text-align: justify;
}
.dataTables_wrapper .btn-sm {
    --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
}
.dataTables_wrapper {
    margin: 1em .5em;
}
.dataTables_wrapper tr.album-criado td {
    background-color: #d4ffd6 !important
}

.dataTables_wrapper tr.album-inativo td,
.dataTables_wrapper tr.usuario-inativo td {
    background-color: #f8ffd4 !important
}

.dataTables_wrapper tr.album-excluido td {
    background-color: #ffd4d4 !important
}

.app-form-check-inline .form-check {
    margin-left: 1.5em;
}

.app-form-check-inline .form-check:first-child {
    margin-left: 0;
}

.form-label.required:after,
.col-form-label.required:after {
    content: '*';
    color: red;
    display: inline-block;
    margin-left: 0.3em
}
.col-form-label {
    line-height: 1;
    margin-bottom: .5rem;
}

.container-upload {
    background-color: var(--bs-tertiary-bg);
}
.container-upload .progress {
    height: 2em;
}
.container-upload .progress-bar {
    text-shadow: 0.1em 0.1em 0.3em #000;
}
.container-upload .progressbar-container {
    display: none;
}

.container-fotos .box-foto {
    cursor: move;
}

.container-fotos .box-foto .opcoes {
    cursor: default;
    visibility: hidden;
    transition: .2s;
    opacity: 0;
}

.container-fotos .box-foto:hover .opcoes {
    cursor: default;
    visibility: visible;
    opacity: 1;
}

.container-fotos .box-foto .opcoes a {
    color: #fff;
    text-shadow: .05em .05em .1em #000;
    font-size: 1;
    transform: scale(1);
    transition: .2s;
}

.container-fotos .box-foto .opcoes a:hover {
    transform: scale(1.3);
}

.container-fotos .box-foto[data-visivel="N"] {
    opacity: 0.3;
}

.container-fotos .box-foto[data-destaque="S"] {
    background-color: #ff0000;
    border-radius: 0.5em;
}

.container-fotos .box-foto[data-destaque="S"] img {
    background-color: #0000FF;
}

form.editando label[for="album_titulo"] {
    font-weight: bold;
}

form.editando #album_titulo {
    background-color: #ffeac7;
    font-weight: bold;
}

@media (max-width: 991px) {
    .navbar-header-admin .navbar-brand {
        margin: 0 auto 1em;
    }
    .navbar-header-admin .navbar-collapse .nav-pills {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }
    .navbar-header-admin .navbar-collapse .nav-pills .nav-item {
        margin: 0 1rem !important;
    }
    .navbar-header-admin .navbar-collapse .navbar-text {
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

}