{% set domain = ('fahor' in app.request.getSchemeAndHttpHost()) ? 'fahor' : 'cfjl'  %}
{% set url_albuns = "http://fotos.#{domain}.com.br"  %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{domain|upper}} - Álbum de Fotos{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block afterbody %}{% endblock %}
</html>
